@import './scrollbar.css';
@import './shiki.css';
@import './animation.css';

* {
  outline: none;
}

:root {
  font-family:
    'HarmonyOS Sans SC',
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  color-scheme: light only;
  --theme-background: 0 0% 100%; /** #ffffff */
  --theme-accent: 200 77% 39%; /* #177CB0 */
  --theme-border: 240 4% 95%; /* #f2f2f3*/
  --theme-sidebar: 0 0.48% 98.03%; /* #fafafa */

  /* https://developer.mozilla.org/en-US/docs/Web/CSS/text-autospace */
  text-autospace: normal;
}

.dark {
  color-scheme: dark only;
  --theme-background: 0 0% 4%; /* #0a0a0a */
  --theme-accent: 195 50% 39%; /* #177CB0 */
  --theme-border: 240 6% 15%; /* #242429*/
  --theme-sidebar: 0 0% 9%; /* #171717*/
}

.prose {
  --un-prose-bg-soft: #e8e8e8;
  --un-prose-borders: hsl(var(--theme-accent) / 0.8);
}

.dark .prose {
  --un-prose-bg-soft: #28282a;
}

.prose .footnotes {
  --at-apply: border-t border-t-border pt-20;
}

html,
body {
  height: fit-content;
  scroll-behavior: smooth;
}

body,
#__nuxt {
  min-height: 100vh;
  scroll-behavior: smooth;
  position: relative;
}

#__nuxt {
  --at-apply: flex flex-col;
}

html {
  scroll-padding-top: 4rem;
}

::view-transition-group(root) {
  animation-duration: 0s;
}
