
.shiki,
.shiki span {
  color: var(--shiki-light); 
  background-color: var(--shiki-light-bg)
}


.shiki:is(.dark *),
.shiki:is(.dark *) span {
  color: var(--shiki-dark); 
  background-color: var(--shiki-dark-bg)
}

.shiki pre {
  scrollbar-color: initial !important;
}

.shiki pre::-webkit-scrollbar-track {
  margin-left: 1rem;
  margin-right: var(--pre-language-margin, 1rem);
}

.shiki code .highlighted {
  background-color: #65758529;
  transition: background-color .5s;
  margin: 0 -24px;
  padding: 0 24px;
  width: calc(100% + 48px);
  display: inline-block
}

.shiki code .highlighted.error {
  background-color: #f43f5e29
}

.shiki code .highlighted.warning {
  background-color: #eab30829
}

.shiki code .diff {
  transition: background-color .5s;
  margin: 0 -24px;
  padding: 0 24px;
  width: calc(100% + 48px);
  display: inline-block
}

.shiki code .diff:before {
  position: absolute;
  left: 10px
}

.shiki.has-focused .line:not(.focused) {
  filter: blur(.095rem);
  opacity: .4;
  transition: filter .35s,opacity .35s
}

.shiki.has-focused .line:not(.focused) {
  opacity: .7;
  transition: filter .35s,opacity .35s
}

.shiki:hover.has-focused .line:not(.focused) {
  filter: blur(0);
  opacity: 1
}

.shiki code .diff.remove {
  background-color: #f43f5e29;
  opacity: .7
}

.shiki code .diff.add {
  background-color: #10b98129
}
 
.shiki .highlighted-word {
  background-color: #3c3f4420;
  border: 1px solid #20212720;
  padding: 1px 3px;
  margin: -1px -3px;
  border-radius: 4px
}

.shiki .highlighted-word:is(.dark *) {
  background-color: #202127;
  border: 1px solid #3c3f44;
}
